#typeover-wrapper {
  position: relative;
  margin: 5rem;
  padding: 1rem;
  border: 1px solid #000;
  height: auto;
}

#typeover-wrapper:focus {
  border: 1px solid blue;
}

#typeover-wrapper.typeover-complete {
  box-shadow: 0 0 5px green;
  border: 0;
}

/** text ids **/
#typeover-input {
  white-space: pre-wrap;
}

#typeover-reference{
  white-space: pre-wrap;
}

/** text classes **/

.typeover-show {
  color: #000;
}

.typeover-hint {
  color: #999;
}

.typeover-hide {
  visibility: hidden;
}

.typeover-error {
  color: red;
}